<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nurse</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Work</h1>
    <p>A born leader.</p>
    <p>Monica loves her job.</p>
    <p>She currently works in the psychiatric unit.</p>
    <p>Her emotional stability, compassion, trustworthiness, and caring are what makes her excel at Nursing.</p>
    <img src="/images/patients.jpg" alt="patients" class="center"/>

    <a href="/home">Back to Home</a>
  </body>
</html>
